---
page_title: "zabbix Provider"
subcategory: ""
description: |-
  The Zabbix provider provides resources to interact with a Zabbix Monitoring Server.  
---

# zabbix Provider

The Zabbix provider provides resources to interact with a Zabbix Monitoring Server.  

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
